@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Sans+Narrow&subset=latin,cyrillic);

$width-logo: 250px;
$color: #f0f0f0;
$color-red: #b03c32;
$color-red-hover: #d43a2c;
$color-beige: #FFF;

body{
    background: $color-beige;
    color: #FFF;
}

.wrapper{
    background: linear-gradient(45deg, rgba(226,68,68,1) 0%,rgba(6,109,171,1) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: #FFF;
    
    &-content {
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        &__number {    
            margin: 0 auto;
            font-size: 10em;
        }
    }
}